version: '3.9'
services:
  app:
    image: php:8.3-cli
    working_dir: /var/www/html
    volumes:
      - ./:/var/www/html
    command: bash -lc "php artisan serve --host=0.0.0.0 --port=8000"
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis

  db:
    image: postgres:16
    environment:
      POSTGRES_DB: kanai
      POSTGRES_USER: kanai
      POSTGRES_PASSWORD: secret
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - "6379:6379"

volumes:
  pgdata:
